language: elixir
elixir:
  - 1.1.1
otp_release:
  - 18.1
sudo: false
install: true

before_script:
  - mix local.hex --force
  - mix deps.get --only test

script: 
  - "MIX_ENV=test mix do test --trace, dialyzer"
  - "MIX_ENV=prod mix do deps.clean --all, deps.get, compile, hex.local"

after_success:
  - "MIX_ENV=test mix coveralls.travis"

cache:
  directories:
  - $HOME/.mix/archives
