language: elixir
elixir:
  - 1.1.1
otp_release:
  - 18.1
sudo: false
install: true

before_script:
  - mix local.hex --force
  - mix deps.get --only test
  - git clone https://github.com/jeremyjh/dialyxir
  - cd dialyxir && mix do archive.build, archive.install --force

script: 
  - "MIX_ENV=prod mix do deps.clean --all, deps.get, compile, hex.build"
  - "MIX_ENV=test mix do test --trace, dialyzer"

after_success:
  - "MIX_ENV=test mix coveralls.travis"

cache:
  directories:
  - $HOME/.mix/archives
